body {
    background-color: white;
}
.s1 {
    color: red;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid lightgreen;
    border-radius: 4px;
    dsiplay: table-cell;
}
input[type=text]:focus {
    border: none;
    border-bottom: 2px solid lightblue;
}
input[type=password] {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid lightgreen;
    border-radius: 4px;
    display: table-cell;
}
input[type=password]:focus {
    border: none;
    border-bottom: 2px solid lightblue;
}
input[type=submit] {
    background-color: lightgrey;
    padding: 2px 12px;
    border-radius: 4px;
    border: 1px solid grey;
}
