ul {
    list-style-type: none;
    background-color: #333333;
    padding: 0px;
    overflow: hidden;
    margin: 0px;
}
li {
    float: left;
}
li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}
li a:hover {
    text-decoration: underline;
    background-color: #111111;
}
#d1 {
    height: 480px;
    border: none;
    width: 340px;
}
input[type=submit] {
    border-radius: 4px;
    background-color: lightgrey;
}
